/* width */
.handleChatArea::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

/* Track */
.handleChatArea::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.handleChatArea::-webkit-scrollbar-thumb {
    background: #1E222C;
}

/* Handle on hover */
.handleChatArea::-webkit-scrollbar-thumb:hover {
    background: #1E222C;
}